wheel
setuptools
twine
redis[hiredis]
# kafka-python
confluent-kafka
fastavro
pyyaml 
cryptography  
email-validator
ipaddress
#C:/Users/mcaba/source/repos/Freya Alpha/fa-models
fa-models
deprecated
pytest
pytest-mock